Import necesarry libraries

In [1]:
import pandas as pd

Import the dataset
Assign it to a variable called "chipo"

In [2]:
chipo = pd.read_csv('chipotle_dataset.csv')

See the first 10 entries

In [5]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

See the last 10 entries

In [6]:
chipo.tail(10)

,order_id,quantity,item_name,choice_description,item_price
4612,1831,1,Carnitas Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$9.25
4613,1831,1,Chips,NaN,$2.15
4614,1831,1,Bottled Water,NaN,$1.50
4615,1832,1,Chicken Soft Tacos,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]",$8.75
4616,1832,1,Chips and Guacamole,NaN,$4.45
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

What is the number of rows and collumns in the dataset? Two methods

In [8]:
print(len(chipo), 
len(chipo.columns))

4622 5

Print the name of all the columns.

In [9]:
print(chipo.columns)

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

How many orders were made in the period

In [10]:
print(chipo['order_id'].nunique())

1834

How many items were orderd in total

In [11]:
print(chipo['quantity'].sum())

4972

List the 5 most-ordered items

In [12]:
most_ordered_items = chipo.groupby('item_name')['quantity'].sum().sort_values(ascending=False).head(5)
print(most_ordered_items)

item_name
Chicken Bowl           761
Chicken Burrito        591
Chips and Guacamole    506
Steak Burrito          386
Canned Soft Drink      351
Name: quantity, dtype: int64

List the 3 most ordered item in the choice_description column

* choice_description ile quantitylerini toplamışsın bu yüzden istenen değer verilmemiş ekrana.
* İstenilen değere ulaşman için gerekli kodu paylaştım zaten o şekilde ulaşabilirsin.
* .value_counts() fonksiyonu ile hangi maddenin kaç kere yazıldığını toplayabilirsin. Yani choice_description olarak kaç tane 'Coke' yazılmış olarak düşünmen gerekliydi.

In [15]:
most_ordered_choice_desc = chipo.groupby('choice_description')['quantity'].sum().sort_values(ascending=False).head(3)
print(most_ordered_choice_desc)

choice_description
[Diet Coke]    159
[Coke]         143
[Sprite]        89
Name: quantity, dtype: int64

List the top 5 items by the revenue

* item_price dtype olarak yani aldığı "değer temsili" olarak 'object' değeridir fakat bize 'float64' gerekiyor bunu sağlayabilmek için:
* -->chipo['item_price'] = chipo['item_price'].astype(str).str.replace('$', '').astype(float) kodu gerekli.

In [21]:
chipo['item_price'] = chipo['item_price'].astype(str).str.replace('$', '').astype(float)
print(chipo['item_price'].dtype)
print(chipo['quantity'].dtype)

chipo['revenue'] = chipo['quantity'] * chipo['item_price']

top_5_revenue = chipo.groupby('item_name')['revenue'].sum().nlargest(5)
top_5_revenue

float64
int64

item_name
Chicken Bowl           8044.63
Chicken Burrito        6387.06
Steak Burrito          4236.13
Steak Bowl             2479.81
Chips and Guacamole    2475.62
Name: revenue, dtype: float64

How much was the revenue for the period in the dataset

In [22]:
total_revenue = (chipo['quantity'] * chipo['item_price']).sum()
print(total_revenue)

39237.02

What is the average revenue amount per order

In [23]:
avg_revenue_per_order = total_revenue / chipo['order_id'].nunique()
avg_revenue_per_order

21.39423118865867

How many different items are sold

In [24]:
print(chipo['item_name'].nunique())

50

Select the first 3 columns

In [26]:
chipo.iloc[:, :3]

      order_id  quantity                              item_name
0            1         1           Chips and Fresh Tomato Salsa
1            1         1                                   Izze
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
4            2         2                           Chicken Bowl
...        ...       ...                                    ...
4617      1833         1                          Steak Burrito
4618      1833         1                          Steak Burrito
4619      1834         1                     Chicken Salad Bowl
4620      1834         1                     Chicken Salad Bowl
4621      1834         1                     Chicken Salad Bowl

[4622 rows x 3 columns]

Select all columns except the last 3.

In [27]:
chipo.iloc[:, :-3]

      order_id  quantity                              item_name
0            1         1           Chips and Fresh Tomato Salsa
1            1         1                                   Izze
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
4            2         2                           Chicken Bowl
...        ...       ...                                    ...
4617      1833         1                          Steak Burrito
4618      1833         1                          Steak Burrito
4619      1834         1                     Chicken Salad Bowl
4620      1834         1                     Chicken Salad Bowl
4621      1834         1                     Chicken Salad Bowl

[4622 rows x 3 columns]

Select the orders which item_price is bigger than 10 dolalrs and lesser then 15 dollars

In [28]:
filtered_orders = chipo[(chipo['item_price'] > 10) & (chipo['item_price'] < 15)]
filtered_orders

,order_id,quantity,item_name,choice_description,item_price,revenue
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98,10.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75,11.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",10.98,10.98
39,19,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.75,11.75
...,...,...,...,...,...,...
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,11.75
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",11.25,11.25
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25,11.25