Import necesarry libraries

In [11]:
import pandas as pd

Import the dataset
Assign it to a variable called "chipo"

In [14]:
%cd Downloads
chipo = pd.read_csv('chipotle_dataset.csv')

[Errno 2] No such file or directory: 'Downloads'
/Users/helinberk/Downloads/c/helinberk.ipynb

See the first 10 entries

In [15]:
print(chipo.head(10))

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl
5         3         1                           Chicken Bowl
6         3         1                          Side of Chips
7         4         1                          Steak Burrito
8         4         1                       Steak Soft Tacos
9         5         1                          Steak Burrito

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
5  [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...    $10.98
6                                                NaN     $1.69
7  [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75
8  [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...     $9.25
9  [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...     $9.25

See the last 10 entries

In [16]:
print(chipo.tail(10))

      order_id  quantity            item_name  \
4612      1831         1        Carnitas Bowl
4613      1831         1                Chips
4614      1831         1        Bottled Water
4615      1832         1   Chicken Soft Tacos
4616      1832         1  Chips and Guacamole
4617      1833         1        Steak Burrito
4618      1833         1        Steak Burrito
4619      1834         1   Chicken Salad Bowl
4620      1834         1   Chicken Salad Bowl
4621      1834         1   Chicken Salad Bowl

                                     choice_description item_price
4612  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...     $9.25
4613                                                NaN     $2.15
4614                                                NaN     $1.50
4615   [Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]     $8.75
4616                                                NaN     $4.45
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...    $11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75

What is the number of rows and collumns in the dataset? Two methods

In [18]:
print(len(chipo), 
len(chipo.columns))

4622 5

Print the name of all the columns.

In [21]:
print(chipo.columns)

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

How many orders were made in the period

In [23]:
print(chipo['order_id'].nunique())

1834

How many items were orderd in total

In [24]:
print(chipo['quantity'].sum())

4972

List the 5 most-ordered items

In [28]:
most_ordered_items = chipo.groupby('item_name')['quantity'].sum().sort_values(ascending=False).head(5)
print(most_ordered_items)

item_name
Chicken Bowl           761
Chicken Burrito        591
Chips and Guacamole    506
Steak Burrito          386
Canned Soft Drink      351
Name: quantity, dtype: int64

List the 3 most ordered item in the choice_description column

In [ ]:
most_ordered_choice_desc = chipo.groupby('choice_description')['quantity'].sum().sort_values(ascending=False).head(3)
print(most_ordered_choice_desc)

List the top 5 items by the revenue

In [54]:
print(chipo['item_price'].dtype)
print(chipo['quantity'].dtype)

chipo['revenue'] = chipo['quantity'] * chipo['item_price']

top_5_revenue = chipo.groupby('item_name')['revenue'].sum().nlargest(5)
top_5_revenue

float64
int64

item_name
Chicken Bowl           8044.63
Chicken Burrito        6387.06
Steak Burrito          4236.13
Steak Bowl             2479.81
Chips and Guacamole    2475.62
Name: revenue, dtype: float64

How much was the revenue for the period in the dataset

In [45]:
total_revenue = (chipo['quantity'] * chipo['item_price']).sum()
print(total_revenue)

39237.02

What is the average revenue amount per order

In [33]:
avg_revenue_per_order = total_revenue / chipo['order_id'].nunique()
print(avg_revenue_per_order)

21.39423118865867

How many different items are sold

In [ ]:
print(chipo['item_name'].nunique())

Select the first 3 columns

In [ ]:
print(chipo.iloc[:, :3])

Select all columns except the last 3.

In [46]:
print(chipo.iloc[:, :-3])

      order_id  quantity
0            1         1
1            1         1
2            1         1
3            1         1
4            2         2
...        ...       ...
4617      1833         1
4618      1833         1
4619      1834         1
4620      1834         1
4621      1834         1

[4622 rows x 2 columns]

Select the orders which item_price is bigger than 10 dolalrs and lesser then 15 dollars

In [38]:
filtered_orders = chipo[(chipo['item_price'] > 10) & (chipo['item_price'] < 15)]
print(filtered_orders)

      order_id  quantity           item_name  \
5            3         1        Chicken Bowl
7            4         1       Steak Burrito
13           7         1        Chicken Bowl
23          12         1     Chicken Burrito
39          19         1       Barbacoa Bowl
...        ...       ...                 ...
4610      1830         1       Steak Burrito
4611      1830         1      Veggie Burrito
4617      1833         1       Steak Burrito
4618      1833         1       Steak Burrito
4619      1834         1  Chicken Salad Bowl

                                     choice_description  item_price
5     [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...       10.98
7     [Tomatillo Red Chili Salsa, [Fajita Vegetables...       11.75
13    [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...       11.25
23    [[Tomatillo-Green Chili Salsa (Medium), Tomati...       10.98
39    [Roasted Chili Corn Salsa, [Fajita Vegetables,...       11.75
...                                                 ...         ...
4610  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...       11.75
4611  [Tomatillo Green Chili Salsa, [Rice, Fajita Ve...       11.25
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...       11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...       11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...       11.25

[1002 rows x 5 columns]