Import necesarry libraries

In [22]:
import pandas as pd

Import the dataset
Assign it to a variable called "chipo"

In [23]:
chipo = pd.read_csv("chipotle_dataset.csv")

See the first 10 entries

In [24]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

See the last 10 entries

In [25]:
chipo.tail(10)

,order_id,quantity,item_name,choice_description,item_price
4612,1831,1,Carnitas Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$9.25
4613,1831,1,Chips,NaN,$2.15
4614,1831,1,Bottled Water,NaN,$1.50
4615,1832,1,Chicken Soft Tacos,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]",$8.75
4616,1832,1,Chips and Guacamole,NaN,$4.45
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

What is the number of rows and collumns in the dataset? Two methods

In [26]:
num_rows = len(chipo)
num_columns = len(chipo.columns)
print(f'Number of rows: {num_rows}, Number of columns: {num_columns}') #chipo.shape

Number of rows: 4622, Number of columns: 5

Print the name of all the columns.

In [27]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

How many orders were made in the period

In [28]:
unique_orders = chipo['order_id'].nunique()
unique_orders

1834

How many items were orderd in total

In [29]:
total_num_order = chipo['quantity'].sum()
total_num_order

4972

List the 5 most-ordered items

In [30]:
grouped = chipo.groupby('item_name')['quantity'].sum()
top_5_items = grouped.nlargest(5)
print(top_5_items)

item_name
Chicken Bowl           761
Chicken Burrito        591
Chips and Guacamole    506
Steak Burrito          386
Canned Soft Drink      351
Name: quantity, dtype: int64

List the 3 most ordered item in the choice_description column

In [31]:
top_ordered = chipo['choice_description'].value_counts(dropna=True)
top_ordered.nlargest(3)

choice_description
[Diet Coke]    134
[Coke]         123
[Sprite]        77
Name: count, dtype: int64

List the top 5 items by the revenue

In [32]:
chipo['item_price'] = chipo['item_price'].astype(str).str.replace('$', '').astype(float)


chipo['revenue'] = chipo['quantity'] * chipo['item_price']

top_items_by_revenue = chipo.groupby('item_name')['revenue'].sum().sort_values(ascending=False).head(5)


top_items_by_revenue

item_name
Chicken Bowl           8044.63
Chicken Burrito        6387.06
Steak Burrito          4236.13
Steak Bowl             2479.81
Chips and Guacamole    2475.62
Name: revenue, dtype: float64

How much was the revenue for the period in the dataset

In [33]:
chipo['item_price'] = chipo['item_price'].astype(str)

chipo['item_price'] = chipo['item_price'].str.replace('$', '').astype(float)

chipo['revenue'] = chipo['quantity'] * chipo['item_price']

total_revenue = chipo['revenue'].sum()

print(f"Total revenue for the period: ${total_revenue:.2f}")

Total revenue for the period: $39237.02

What is the average revenue amount per order

In [34]:
chipo['item_price'] = chipo['item_price'].astype(str).str.replace('$', '').astype(float)


chipo['revenue'] = chipo['quantity'] * chipo['item_price']


revenue_per_order = chipo.groupby('order_id')['revenue'].sum()

average_revenue_per_order = revenue_per_order.mean()

print(f"Average revenue per order: ${average_revenue_per_order:.2f}")

Average revenue per order: $21.39

How many different items are sold

In [35]:
unique_items_count = chipo['item_name'].nunique()
unique_items_count

50

Select the first 3 columns

In [36]:
first_three_columns = chipo.iloc[:, :3].head()
first_three_columns

   order_id  quantity                              item_name
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl

Select all columns except the last 3.

In [37]:
all_except_last_three_columns = chipo.iloc[:, :-3].head()
all_except_last_three_columns

   order_id  quantity                              item_name
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl

Select the orders which item_price is bigger than 10 dollars and less than 15 dollars

In [38]:
chipo['item_price'] = chipo['item_price'].replace('[\$,]', '', regex=True).astype(float)

orders_with_price_between_10_and_15 = chipo[(chipo['item_price'] > 10) & (chipo['item_price'] < 15)]

orders_with_price_between_10_and_15

,order_id,quantity,item_name,choice_description,item_price,revenue
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98,10.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75,11.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",10.98,10.98
39,19,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.75,11.75
...,...,...,...,...,...,...
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,11.75
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",11.25,11.25
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25,11.25