Import necesarry libraries

Import the dataset
Assign it to a variable called "chipo"

See the first 10 entries

See the last 10 entries

What is the number of rows and collumns in the dataset? Two methods

Print the name of all the columns.

How many orders were made in the period

How many items were orderd in total

List the 5 most-ordered items

List the 3 most ordered item in the choice_description column

List the top 5 items by the revenue

How much was the revenue for the period in the dataset

What is the average revenue amount per order

How many different items are sold

Select the first 3 columns

Select all columns except the last 3.

Select the orders which item_price is bigger than 10 dolalrs and lesser then 15 dollars